/* calendar.greyscale.css */

/* Variables for the Grayscale Theme */
:root {
    --greyscale-bg-color: #f0f0f0; /* Very light gray background */
    --greyscale-text-color: #333; /* Dark gray text */
    --greyscale-border-color: #ddd; /* Light gray border */
    --greyscale-hover-color: #ccc; /* Slightly darker gray for hover */
    --greyscale-current-day-border: #888; /* Darker gray for current day border */
}

/* Apply Grayscale Theme Styles */
.greyscale {
    background-color: var(--greyscale-bg-color);
    color: var(--greyscale-text-color);
}

.greyscale table {
    background-color: var(--greyscale-bg-color); /* Table background */
}

.greyscale th,
.greyscale td {
    border-color: var(--greyscale-border-color);
    transition: background-color 0.2s ease, color 0.2s ease; /* Smooth transitions */
}

.greyscale th {
    background-color: #bbb; /* Slightly darker gray for header */
    color: var(--greyscale-text-color);
}

.greyscale td {
    background-color: white; /* White for the day cells for better contrast */
}

.greyscale td:hover,
.greyscale td.current-day:hover {
    background-color: var(--greyscale-hover-color);
    color: var(--greyscale-text-color);
}

.greyscale td.current-day {
    border: 2px solid var(--greyscale-current-day-border);
}

/* Modal Styles for Grayscale */
.greyscale .modal-content {
    background-color: #fff; /* White modal background */
    color: var(--greyscale-text-color);
    border-color: var(--greyscale-border-color);
}

.greyscale .modal-title {
    color: var(--greyscale-text-color);
}

.greyscale .event-list div {
    border-bottom-color: var(--greyscale-border-color);
}

/* Button Styles for Grayscale */
.greyscale .transparent-button {
    border-color: var(--greyscale-text-color);
    color: var(--greyscale-text-color);
}

.greyscale .transparent-button:hover {
    background-color: var(--greyscale-hover-color);
    color: var(--greyscale-text-color);
}

.greyscale #backToTopBtn {
    background-color: #888;
    color: white;
}

.greyscale #backToTopBtn:hover {
    background-color: #666;
}

.greyscale .event-marker {
    background-color: #777;
    color: white;
}

.greyscale .event-marker:hover {
    background-color: #555;
    color: white;
}

.greyscale .event-list div button {
    background-color: #777;
}

.greyscale .event-list div button:hover {
    background-color: #555;
}